@import "../sass/modules/Home/footer";
@import "../sass/modules/Home/header";
@import "./modules/Home/about";
@import "./modules/Home/menu";
@import "./modules/Home/event";
@import "./modules/Home/gallery";
@import "./modules/Home/chefs";

* {
    padding: 0;
    margin: 0;
}