@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
$myclr : rgb(255, 176, 59);
$mywhite : #ffffff;
$myblack : #000000;
$font1 : 'Poppins', sans-serif;
$bg1 :rgb(255, 250, 243) ;
$spacer: 20px;
$brown: rgb(67, 63, 57);
$soft-yellow : #fff7eb;
$menu :rgb(236, 236, 236);
$mygray : rgb(161, 161, 161);
$bgbook :rgb(249, 249, 249);

$clr: (
    "myclr": $myclr,
    "soft": $soft-yellow
);

$theme-colors: map-merge($clr , $theme-colors);
@for $i from 1 through 50 {
    $spacers: map-merge( $spacers, ($i: $i * $spacer));
};

@font-face {
    font-family: "myfont";
    src: url("../../public/FONT/Satisfynrml/Satisfy-Regular.ttf") ;
}