.about1 {
    width: 50%;
    color: $brown;
}

.about11 {
    background-color: $bg1;
    padding: 5vh 10vw;
    gap: 2vw;
    // width: 100vw;
}

video {
    width: 40vw;
    height: auto;
}
.about2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top:10vh ;
    gap: 6vh;
}
.ab2 {
    gap: 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-inline: 6vw;
    
}
.ab22 {
    text-align: left;
    background-color: rgb(249, 249, 249);
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding-inline: 2vw;
    padding-bottom: 5vh;
    padding-top: 5vh;
    transform: all 0.5s;
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.15);
    p {
        color: gray;
    }
}
.ab22 h4 {
    color: $brown;
}

.top-about {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    align-items: center;
    
    button {
        width: fit-content;
        padding: 1vh 1vw;
        background-color: $soft-yellow;
        color: $myclr;
        border-radius: 20px;
        border: none;
        font-weight: bold;
    }
}
.ab22:hover {
    background-color: $myclr;
    p {
        color: $mywhite;
    }
    h4 {
        color: $mywhite;
    }
    span {
        color: $mywhite;
    }
}
