.chef22 {
    position: absolute;
    background-color: rgb(203, 203, 203);
    width: 90%;
    bottom: -50px;
    margin-left:1vw ;
    // width: 90%;
}
.chef {
    position: relative;
}
.chef33 {
    position: absolute;
    background-color: rgb(203, 203, 203);
    width: 90%;
    bottom: -50px;
    margin-left:1vw ;
}
.pos {
    position: relative;
}

.pos3 {
    position: relative;
}
.chef3 {
    position: absolute;
    background-color: rgb(203, 203, 203);
    width: 90%;
    bottom: -50px;
    margin-left:1vw ;
}