.event {
    background-image: linear-gradient(rgba(2, 23, 33, 0.395), rgba(2, 23, 33, 0.395),),
    url("../../../../public/img/images/events-bg.jpg");
    // background-image: url("../../../../public/img/images/events-bg.jpg");
    background-size: cover;
    height: 80vh;
    // filter: blur(2px);
}
// makes the caption static that's mean a normal flow , the default
.carousel-events .carousel-caption {
  position: static !important;
}
.eve1 {
    // background-color: red;
    display: flex;
    padding: 10vh 8vw;
    gap: 3vw;
}
.eve2 {
    display: flex;
    flex-direction: column;
    padding-top: 6vh;
    gap: 3vh;
}
.i-eve {
    color: $mywhite;
    font-size: 25px;
}
.price-eve {
    color: $mywhite;
    font-size: 25px;
    font-weight: bold;
}
.pri{
    position: relative;
    display: flex;
}
.pri::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $myclr;
    height: 0.4vh;
    width: 5vw;
}
.i-ve {
    color: $myclr;
}
.pp {
    color: $mywhite;
    gap: 0.2vw;
    font-weight: bold;
}
.eve22 {
    display: flex;
    padding: 10vh 8vw;
    gap: 3vw;
    text-align: left !important;
}
.h22 {
    text-align: left;
}
.p20 {
    text-align: left;
}
.left-eve {
    display: flex;
    flex-direction: column;
    gap:3vh ;
}
.sty { 
    border-radius: 50%;
    height: 15px !important;
    width: 15px !important;
    &:focus {
        background-color: $myclr !important;
    }
}
// book section 
.book {
    background-color: $bgbook;
    display: flex;
    height: fit-content;
    padding-left:6vw;
    padding-right: 6vw;
    margin-bottom: 5vh;
    width: 100%;
    height: 75vh;
}
.imb img {
    width: 80%;
    height: 100%;
    object-fit: cover;
}
.imb {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formm {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    padding: 15vh 3vw;
    width: 50%;
    align-items: center;
}
.grid-book {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1vw;
    width: 100%;
    input {
        padding: 1vh 0.4vw;
        &:focus {
            outline: none;
            border: $myclr solid 2px;
            box-shadow: 0 8px 25px rgba(255, 176, 59, 0.28);
        }
    }
}
.text textarea {
    width: 100%;
    height: 26vh;
    padding: 1vh 1vw;
    &:hover {
        outline: none;
        border: $myclr solid 2px;
        box-shadow: 0 8px 25px rgba(255, 176, 59, 0.28);
    }
}
.text {
    width: 100%;
}
.book-bu {
    background-color: $myclr;
    border-radius: 5px;
    padding: 1vh 2vw;
    border: none;
    color: $mywhite;
    &:hover {
        background-color: darken($myclr, 18%);
    }
}
.form {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    align-items: center;
    padding-top: 4vh;
    .head-book {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2vh;
        button {
            background-color: $soft-yellow;
            border-radius: 20px;
            border: none;
            padding: 1vh 1.5vw;
            font-weight: bold;
            color: $myclr;
        }
    }
}
.clr {
    color: $myclr;
}