@import "../../variables";
.foot {
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3vw;
    padding-bottom: 4vh;
    padding-left: 5vw;
    border-bottom: rgba(128, 128, 128, 0.215) solid 1px;
}
.fot {
    gap: 0.7vw;
    i {
        color: $myclr;
    }
}
.fotfi {
    padding: 8vh 5vw;
    background-color: rgb(30, 22, 13);
}
.ii {
    font-family: "myfont";
    font-size: 20px;
}
.ff {
    font-family: "myfont";
}
.fifi {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4vh;
}
// before the header
.fin {
    gap: 0.1vw;
    flex-direction: column;
}
.go {
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
    // padding-top: 4vh ;
}
.cc {
    height: 70vh;
}
.formf {
    align-items: center;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    gap: 4vh;
}
.formf input {
    outline: none;
    &:focus {
        border-color: $myclr;
    }
}
.formf textarea {
    margin-left: 2vw;
    &:focus {
        border-color: $myclr;
    }
}