@import "../../variables";
.foot {
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3vw;
    padding-bottom: 4vh;
    padding-left: 5vw;
    border-bottom: rgba(128, 128, 128, 0.215) solid 1px;
}
.fot {
    gap: 0.7vw;
    i {
        color: $myclr;
    }
}
.fotfi {
    padding: 8vh 5vw;
    background-color: rgb(30, 22, 13);
}
.ii {
    font-family: "myfont";
    font-size: 20px;
}
.ff {
    font-family: "myfont";
}
.fifi {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4vh;
}