.gal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 3vh;
}
.grid-gal {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 0.2vw;
    padding-inline: 0.7vw;
    overflow: hidden;
}
.grid-gal img {
    &:hover {
        transform: scale(1.1);
    }
}
.grid-gal img {
    // 100% of the grid box
    width: 100%;
    height: 100%;
}
.head-gal {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    align-items: center;
    h2 {
        font-weight: bold;
    }
}
.but-gal {
    background-color: $soft-yellow;
    padding: 1vh 1.5vw;
    font-weight: bold;
    color: $myclr;
    border: none;
    border-radius: 20px;
}