.container-parent {
    display: flex;
    justify-content: space-between;
    padding-inline: 8vw;
    background-color: #3c3c3c22;
    padding-block: 1vh;
    width: 100%;
}

.child1 {
    display: flex;
    gap: 1vw;
    align-items: center;
}

.yellow {
    color: $myclr;
}

.but1 {
    border: none;
    background-color: $myclr;
    padding: 1vh 2vw;
    border-radius: 50px;

    &:hover {
        // darken makes the button color darker by the given percentage
        background-color: darken($myclr, 18%);
        cursor: pointer;
    }
}

header {
    // font-family: 'Pacifico', cursive;
    background-color: #3c3c3c42;
    display: flex;
    flex-direction: column;
    // positoioning the header at the top
    position: fixed;
    z-index: 9999;
    width: 100%;
}

nav {
    padding-inline: 7vw;

    select {
        border: none;
        padding: 0.5vh 1vw;
        border-radius: 5px;
        background-color: transparent;
        color: $mywhite;

        &:hover {
            cursor: pointer;
            color: $myclr;
        }

    }
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2vw;
    align-items: center;
    padding-block: 2vh;

    a {
        text-decoration: none;
        font-size: 1.1rem;
        color: $mywhite;

        &:hover {
            color: $myclr;
        }
    }
}

my-carousel {
    width: 100%;
    margin-top: 20px;
    background-color: red !important;

    .carousel-item img {
        width: 100%;
        object-fit: cover;
    }
}

.button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.bu2 {
    border: $myclr solid 2px;
    color: $mywhite;
    background-color: transparent;
    border-radius: 50px;
    padding: 1vh 2vw;
    font-weight: bold;
    transform: 0.7s;
    &:hover {
        background-color: $myclr;
    }
}

.blure{
    filter: blur(2px);
    filter: sepia(50px);
}

.gg {
    height: 100vh;
}